html,
body {
	height: 100%;
}

body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;

	background: rgb(119, 80, 246);
	background: linear-gradient(
		90deg,
		rgba(119, 80, 246, 1) 0%,
		rgba(167, 241, 248, 1) 35%,
		rgba(191, 81, 243, 1) 100%
	);
	color: #ffff;
}

button {
	cursor: pointer;
	font-size: 1.2em;
	font-weight: bold;
	height: 50px;
	padding: 0 45px;
	text-transform: uppercase;
	transition: 0.4s;

	border: 2px solid rgb(119, 80, 246);
	border-radius: 25px;

	background: rgba(167, 241, 248, 1);
	color: rgb(119, 80, 246);
}

button:hover {
	border: 2px solid rgba(167, 241, 248, 1);

	background-color: rgb(119, 80, 246);
	color: rgba(167, 241, 248, 1);
}
